.art {
  box-sizing: border-box;
  position: relative;
  padding-top: 1px;
}

.art__title {
  .title;
  margin-top: 10px;
margin-bottom: 6px;
}

.art__lists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.art__info,
.art__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.art__list {
  margin-bottom: 26px;
}

.art__list img {
  width: 290px;
  height: 227px;
}

.art__info h2 {
  .name;
  margin-top: 9px;
  margin-bottom: 5px;
  font-weight: 500;
}

.art__info p {
  .text;
  margin-top: 2px;
}

.art__info a {
  .link;
  font-style: italic;
}

.art__img {
  display: flex;
  align-items: center;
  justify-content: center;
      width: 100%;
}

@media (min-width: @size-tablet) {
  .art__title {
    .title-t;
    margin-bottom: 20px;
  }

  .art__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .art__list {
    width: 49%;
  }

  .art__info h2 {
    .name-t;
  }
  .art__info p,
  .art__info a {
    .text-t;
  }
.art__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.art__block a {
  font-size: 16.667px;
  font-family: "Ubuntu";
  color: rgb(11, 64, 145);
  font-style: italic;
  text-decoration: underline;
  line-height: 2;
  text-align: center;
  border-bottom: 1px solid #c7d3e6;
}


}

@media (min-width: @size-desktop) {
  .art__lists {
    margin-left: 1%;
    margin-right: 1%;
  }
  .art__list {
    flex-direction: row;
    margin-bottom: 23px;
  }

  .art__info {
    margin-left: 20px;
  }

  .art__info h2 {
  margin-top: 0;
  }

  .art__info p {
    margin-bottom: 8px;
  }

  .art__img {
    width: 244px;
  }
  .art__list img {
    width: 233px;
    height: 187px;
  }
}

@media (min-width: 1560px) {
  .art {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  .art__lists {
    margin: 0;
  }
}
