doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="css/slick.css")
    //- link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
    main.art
      div.container
        a(href="articles.html")
          h1.art__title статьи
        ul.art__lists
          li.art__list
            div.art__img
              div.art__img
                img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
          li.art__list
            div.art__img
              img(src="img/art-img.jpg" alt="штора")
            div.art__info
              h2 как выбрать шторы?
              p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
              a(href="#") Читать далее >>
        div.art__block
          a(href="") Загрузить еще статьи (8)
      script(src="js/jquery-3.4.1.min.js")
      //- script(src="js/jquery-migrate-3.1.0.min.js")
      //- script(src="js/slick.min.js")
      script(src="js/script.js")
