doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
    main.article
      div.container
        h1.art__title статьи
        article.article__blocks 
          div.article__img
            img(src="img/zamer.jpg" alt="статья")
            img(src="img/zamer.jpg" alt="статья").article__img-desk
          div.article__item
            h2.article__title как снять замеры?
            p.article__text  	Самостоятельное снятие замеров для изготовления штор – дело очень ответственное. Допустив ошибку хотя бы на пару сантиметров, вы рискуете вместо положительных впечатлений от изменения интерьера получить только разочарование. Поэтому будьте готовы к тому, что заказывая шторы по своим размерам в салоне, вы должны будете подписаться под тем, что дизайнеры не несут ответственности за точность ваших расчетов. И если здесь будет допущена ошибка, исправлять её вам придётся за свой счёт.
            p Чтобы сделать правильные замеры, необходимо придерживаться определенных правил. <srtong>Главное правило – высоту штор стоит определять только после того, как будет установлен карниз</strong>. Если вы собираетесь вешать классические прямые шторы, тогда снять замеры при уже имеющемся карнизе не составит труда.
            img(src="img/zamer.jpg" alt="статья").article__img-mob
            p <strong>При выборе модели штор, необходимо учитывать вид карниза (настенный, потолочный).</strong>
            p 1. <strong>Настенные карнизы</strong>: 
            p Если установлен круглый деревянный/металлический карниз, то замеряется: длина карниза без учета наконечников (рабочая часть), высота от верха трубы до пола, а также высота от низа крючка до пола. Если установлен карниз с планкой, то замеряется: длина рабочей части карниза (длина между кронштейнами, в том случае, если их расположение ограничивает рабочую часть карниза). Высота от низа крючка до пола.
            p 2. Если установлен <strong>потолочный карниз</strong>, то замеряется: длина карниза от края до края, высота от низа крючка до пола.
            p <strong>Для всех видов карнизов высота измеряется в трех местах</strong>: в обоих углах и посередине. Если размеры отличаются друг от друга, то необходимо определить по какому из размеров будет изготавливаться штора. Можно выбрать один из размеров, наиболее приемлемый для готового изделия. Также можно указать все 3 размера высоты и сообщить, что необходимо изготовить штору так, чтобы ее низ находился на одинаковом уровне от пола. Это возможно лишь в том случае, если перепад между высотами не более 2см. Необходимо указать желаемое расстояние от пола до низа готовой шторы. Оно может составлять 1-2см. и более. Также штора может лежать на полу. Обычно эта часть готовой шторы составляет 10-15см. При необходимости разреза на шторе, необходимо указать уровень разреза в готовом виде (по ширине).
            p <strong>Для всех видов карнизов</strong> (за исключением карниза с планкой) необходимо указывать высоту «гребешка» шторы - расстояние от петли до верхнего края шторы. Это расстояние рассчитывается исходя из размеров крючка карниза, и желания заказчика прикрыть крючки или часть карниза. В отдельных случаях необходимо указывать наличие загораживающих предметов мебели части окна или простенка, на которых будут располагаться шторы или иные индивидуальные особенности интерьера.
            div.article__social
              p Поделиться:
              div 
                a(href="#")
                  img(src="img/vk.png" alt="соцсеть")
                a(href="#")
                  img(src="img/inst.png" alt="соцсеть")
                a(href="#")
                  img(src="img/fb.png" alt="соцсеть")
                
            
        div.article__block
          h2.art__title читайте также
          ul.article__lists
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
            li.art__list.article__list
              img(src="img/art-img.jpg" alt="штора")
              div.art__info
                h2 как выбрать шторы?
                p Как найти шторы, чтобы скрыть дефекты, визуально расширить окна. Как подобрать шторы к интерьеру так чтобы  дизайн и ткань занавеси гармонировали со стилем, обоями, мебелью?
                a(href="#") Читать далее >>
      script(src="js/jquery-3.4.1.min.js")
      script(src="js/jquery-migrate-3.1.0.min.js")
      script(src="js/slick.min.js")
      script(src="js/script.js")
