doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
      main.company
        div.container
          a(href="company.html")
            h1.company__title о компании
          section.company__we
            div.company__photos
              div.company__photo
                img(src="img/comp-1.jpg")
              div.company__photo
                img(src="img/comp-2.jpg")
              div.company__photo
                img(src="img/comp-3.jpg")
              div.company__photo
                img(src="img/comp-4.jpg")
            a(href="company.html").company__logo
              img(src="img/logo.png" alt="logo")
            ul.company__history
              li
                div
                  span 2007
                p В Казани был открыт небольшой салон, совмещенный с пошивочным цехом на ул. Восстания, где работало 4 сотрудника. Некоторое время компания не имела значительного роста, в том числе по причине экономического кризиса.
              li 
                div
                  span 2012
                p Был создан производственный цех на площади 150 м2, а салон на ул. Восстания расширился на площади более 100 м2.
              li 
                div
                  span 2013
                p Открылся второй салон в Торговом Комплексе «Савиново», общей площадью 95 м2.
              li 
                div
                  span 2016
                p Открылся салон в Москве, в бизнес-парке «Румянцево».
              li 
                div.not__line
                  span 2019
                p На сегодняшний день в сети портьерных салонов «Магия штор» работают 6 высококвалифицированных дизайнеров по шторам со средним опытом работы более 10 лет.
          div.company__video
            h2.company__video-title видео-знакомство с салоном в ТЦ «Савиново»
            video(poster="img/comp-video.jpg")
          section.company__designer
            h2.company__title дизайнеры
            ul.company__designers
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d1.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
              li
                img(src="img/comp-d7.jpg" alt="штора")
                div.company__info
                  h2 амонова эльза
                  p Опыт работы: 12 лет Казань, ул. Восстания, д. 49
                  a(href="#") Портфолио >>
          section.company__we
            section.company__idea
              h2.company__idea-title наша цель
              p <span>&#9679;</span> Наша цель - заниматься пошивом штор наивысшего качества, которые бы украшали дома наших клиентов. В свою очередь, клиенты помогают нам расти, а также обеспечивать рост нашего бизнеса.
              h2.company__idea-title Почему мы?
              p <span>&#9679;</span> Качественные ткани по доступным ценам. Мы делаем шторы недорогими и качественными, чтобы они удовлетворяли потребности всех наших клиентов. Компания работает над дизайном штор, учитывая потребности клиентов.
              p <span>&#9679;</span> У нас собственный склад и цех, поэтому мы выполняем заказы быстро и качественно.
              p <span>&#9679;</span> Мы закупаем ткани оптом, это позволяет нам устанавливать низкие цены по городу. 
              p <span>&#9679;</span> Компания развивается вместе с людьми. Наши сотрудники играют важную роль в развитии компании. Мы видим талант и стараемся раскрыть потенциал каждого сотрудника.
            section.company__director
              h2.company__director-title Руководители - Вадим и Юлия Ивановы
              img(src="img/comp-boss.jpg" alt="руководители")
              section.company__review
                h2.review__title Отзывы
                ul.review__lists.review__lists__slider
                  li.review__list
                    div.review__slider  
                      img(src="img/reviwel.jpg")
                    div.review__info
                      h3 Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      img(src="img/reviwel.jpg")
                    div.review__info
                      h3 Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      img(src="img/reviwel.jpg")
                    div.review__info
                      h3 Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
              
            
      script(src="js/jquery-3.4.1.min.js")
      script(src="js/jquery-migrate-3.1.0.min.js")
      script(src="js/slick.min.js")
      script(src="js/script.js")
