doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="css/slick.css")
    //- link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
      main
        a(href="company.html") о компании
        a(href="articles.html")  статьи
        a(href="review.html") отзывы
        a(href="article.html") статья
        a(href="portfolio.html") Портфолио
        a(href="#") о компании
        a(href="#") о компании
        a(href="#") о компании
        //- include ../sections/header
        //- include ../sections/page-1
        //- include ../sections/page-2
        //- include ../sections/page-3
        //- include ../sections/page-4
      //- script(src="js/jquery-3.4.1.min.js")
      //- script(src="js/jquery-migrate-3.1.0.min.js")
      //- script(src="js/slick.min.js")
      script(src="js/script.js")
