doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
      main.review
        div.container
          a(href="portfolio.html")
            h1.review__title портфолио
          section.reviews
            div.review__block.portfolio__block
              div.portfolio__elements
                div.portfolio__element.portfolio__element-bg
                div.portfolio__el Портьеры
                div.portfolio__el Спальня
                div.portfolio__element
                div.portfolio__el2 Очистить фильтр
              div.review__block
                button(type="button").review__filters Фильтр
                form(action="review.html" method="post").review__filter.review__toggle 
                  h2.review__name здесь другой фильтр
                  div
                    input(id="name1" type="checkbox")
                    label(for="name1") другой фильтр
                  div
                    input(id="name2" type="checkbox")
                    label(for="name2") другой фильтр
                  div
                    input(id="name3" type="checkbox")
                    label(for="name3") другой фильтр
                  div
                    input(id="name4" type="checkbox")
                    label(for="name4") другой фильтр
                  div
                    input(id="name5" type="checkbox")
                    label(for="name5") другой фильтр
                  div
                    input(id="name6" type="checkbox")
                    label(for="name6") другой фильтр
                  button(type="button") Снять выделение
            section.review__blocks.portfolio__blocks
              div.review__block2
                div.review__show
                  p.review__about Показать: 
                  a(href="#").review__show-button 12
                  a(href="#").review__show-button 24
                  a(href="#").review__show-button 60
                  a(href="#").review__show-button 100
                  a(href="#").review__show-button все (145)
                ul.review__lists
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      p.review__text Стоимость работы: 10 000 руб.
                      a(href="#") Читать весь отзыв >>
                div.review__show2 
                  a(href="#").review__show-button2 1
                  a(href="#").review__show-button2 2
                  a(href="#").review__show-button2 3
                  a(href="#").review__show-button2 4
                  a(href="#").review__show-button2 5
          section.company__review.portfolio__review
            h2.review__title Отзывы
            ul.review__lists.review__lists__slider
              li.review__list
                div.slider__show
                  div.slider-for
                    img(src="img/reviwel.jpg")
                  div.slider-nav
                    div.slider
                      img(src="img/reviwel.jpg")
                    div.slider
                      img(src="img/reviwel.jpg")
                    div.slider
                      img(src="img/reviwel.jpg")
                div.review__info
                  h3.review__info-name Лилия 
                  p.review__about оформили квартиру на Комсомольской
                  p.review__text “Добрый день!! Заказывала у Вас портьеры и тюль) Осталась оооочень довольна!!! Спасибо большое дизайнеру Тамаре! Настоящий профессионал своего дела! Все измерила, подобрала, подсказала как лучше сделать, показала дизайн на компьютере. Спасибо огромное! Шторы очень красивые!”    
              li.review__list
                div.slider__show
                  div.slider-for
                    img(src="img/reviwel.jpg")
                  div.slider-nav
                    div.slider
                      img(src="img/reviwel.jpg")
                    div.slider
                      img(src="img/comp-o2.jpg")
                    div.slider
                        img(src="img/reviwel.jpg")
                div.review__info
                  h3.review__info-name Лилия 
                  p.review__about оформили квартиру на Комсомольской
                  p.review__text “Добрый день!! Заказывала у Вас портьеры и тюль) Осталась оооочень довольна!!! Спасибо большое дизайнеру Тамаре! Настоящий профессионал своего дела! Все измерила, подобрала, подсказала как лучше сделать, показала дизайн на компьютере. Спасибо огромное! Шторы очень красивые!”
              li.review__list
                div.slider__show
                  div.slider-for
                    img(src="img/reviwel.jpg")
                  div.slider-nav
                    div.slider
                      img(src="img/comp-o.jpg")
                    div.slider
                      img(src="img/comp-o2.jpg")
                    div.slider
                        img(src="img/reviwel.jpg")
                div.review__info
                  h3.review__info-name Лилия 
                  p.review__about оформили квартиру на Комсомольской
                  p.review__text “Добрый день!! Заказывала у Вас портьеры и тюль) Осталась оооочень довольна!!! Спасибо большое дизайнеру Тамаре! Настоящий профессионал своего дела! Все измерила, подобрала, подсказала как лучше сделать, показала дизайн на компьютере. Спасибо огромное! Шторы очень красивые!”
            div.company__review-button
              a(href="review.html").company__review-link Читать все отзывы (145) и оставить свой отзыв
                

      script(src="js/jquery-3.4.1.min.js")
      script(src="js/jquery-migrate-3.1.0.min.js")
      script(src="js/slick.min.js")
      script(src="js/script.js")
