doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    title curtains
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
      main.review
        div.container
          a(href="review.html")
            h1.review__title отзывы
          section.reviews
            div.review__block
              button(type="button").review__filters Фильтр
              form(action="review.html" method="post").review__filter.review__toggle 
                h2.review__name дизайнер
                div
                  input(id="name1" type="checkbox")
                  label(for="name1") Амонова Эльза
                div
                  input(id="name2" type="checkbox")
                  label(for="name2") Амонова Эльза
                div
                  input(id="name3" type="checkbox")
                  label(for="name3") Амонова Эльза
                div
                  input(id="name4" type="checkbox")
                  label(for="name4") Амонова Эльза
                div
                  input(id="name5" type="checkbox")
                  label(for="name5") Амонова Эльза
                div
                  input(id="name6" type="checkbox")
                  label(for="name6") Амонова Эльза
                button(type="button") Снять выделение
            section.review__blocks
              div.review__block3
                button(type="button").review__write оставить отзыв
                form(action="review.html" method="post").review__write2
                  h2.review__write-title Оставьте свой отзыв о нашей работе
                  div.review__write-block
                    div
                      label(for="name-form").review__write-name Ваше имя
                      input(type="text" id="name-form" placeholder="Имя").review__block-input
                    div
                      label(for="phone-form").review__write-name телефон <span>(Не будет отображен в отзыве)</span>
                      input(type="tel" id="phone-form" placeholder="8 (_ _ _) _ _ _ - _ _ - _ _").review__block-input
                  div.review__write-files
                    p.review__write-name Прикрепить фото
                    div.review__write-file
                      input(type="file" id="one").review__file-input
                      label(for="one")
                        img(id="one-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="two").review__file-input
                      label(for="two")
                        img(id="two-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="three").review__file-input
                      label(for="three")
                        img(id="three-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="four").review__file-input
                      label(for="four")
                        img(id="four-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="five").review__file-input
                      label(for="five")
                        img(id="five-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="six").review__file-input
                      label(for="six")
                        img(id="six-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="seven").review__file-input
                      label(for="seven")
                        img(id="seven-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                      input(type="file" id="eight").review__file-input
                      label(for="eight")
                        img(id="eight-img" src="" alt="").review__file-img
                        span.visually-hidden Загрузите файл
                  div.review__write-radio
                    div
                      input(type="radio" id="a" name="name").review__radio-input
                      label(for="a")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="b" name="name").review__radio-input
                      label(for="b")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="c" name="name").review__radio-input
                      label(for="c")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="d" name="name").review__radio-input
                      label(for="d")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="e" name="name").review__radio-input
                      label(for="e")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="f" name="name").review__radio-input
                      label(for="f")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                    div
                      input(type="radio" id="g" name="name").review__radio-input
                      label(for="g")
                        img(src="img/foto.png")
                        p Миргасимова Резеда
                  div.review__write-text
                    p.review__write-name отзыв
                    textarea(name="name" placeholder="Расскажите, как вы нас нашли, что больше всего понравилось в работе вашего дзайнера и на что следует обратить внимание будущим клиентам портьерного салона «Магия штор»")
                  div.review__write-submit
                    input(type="submit" value="отправить отзыв").review__submit-input
                    div.review__write-checkbox
                      input(type="checkbox" id="ok").review__checkbox-input
                      label(for="ok").review__write-checkbox-label Нажимая кнопку “ОТПРАВИТЬ ОТЗЫВ” я соглашаюсь  на хранение и обработку моих персональных данных в соответствии с <a href="#" class="">политикой конфиденциальности</a>
              div.review__block2
                div.review__show
                  p.review__about Показать: 
                  a(href="#").review__show-button
                    span.active 12
                  a(href="#").review__show-button 24
                  a(href="#").review__show-button 60
                  a(href="#").review__show-button 100
                  a(href="#").review__show-button все (145)
                ul.review__lists
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                  li.review__list
                    div.review__slider
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                      div
                        img(src="img/reviwel.jpg")
                    div.review__info
                      h3.review__info-name Лилия 
                      p.review__about оформили квартиру на Комсомольской
                      p.review__text “Позвонила в салон Магия штор, приятно была удивлена, что Резеда работает по сей день, я мигом к ней... 
                      a(href="#") Читать весь отзыв >>
                div.review__show2 
                  a(href="#").review__show-button2 1
                  a(href="#").review__show-button2 
                    span.active 2
                  a(href="#").review__show-button2 3
                  a(href="#").review__show-button2 4
                  a(href="#").review__show-button2 5
                

      script(src="js/jquery-3.4.1.min.js")
      script(src="js/jquery-migrate-3.1.0.min.js")
      script(src="js/slick.min.js")
      script(src="js/script.js")
